<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CricBlog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        <link rel="stylesheet" href="/stylesheets/app.css" />
    </head>
    <body>
    
        <div class="ui top fixed menu inverted" id="navbar">
            <div class="ui container">
                <div class="item logo">
                    <strong>CricBlog</strong>
                </div>
                <a class="active item" href="/blogs">Home</a>
                <a class="item" href="/blogs/new">New Blog</a>
                <div class="right menu">
                    <a class="item">Login</a>
                    <a class="item">Sign-up</a>
                </div>
            </div>
        </div>
        <div style="min-height:42px; display:block" id="space"></div>